.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F4F4F6;
  overflow: scroll;
}
.page .rectange {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 6rem;
  margin: 0 auto;
  background: url(img/rectange.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 0.8rem;
}
.page .rectange .left-img {
  width: 4.1rem;
  height: 3.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.page .rectange .left-img img {
  width: 100%;
}
.page .rectange .right-detail {
  position: relative;
  top: 50%;
  left: -0.5rem;
  transform: translateY(-50%);
  width: 11rem;
  height: 5rem;
}
.page .rectange .right-detail .diamond-count {
  margin-bottom: 0.3rem;
  font-size: 0.6933rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #505050;
  letter-spacing: 1px;
}
.page .rectange .right-detail .progress-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}
.page .rectange .right-detail .progress-box .progress-bar {
  width: 75%;
  height: 0.25rem;
  background: #EBEBEB;
  border-radius: 0.3rem;
}
.page .rectange .right-detail .progress-box .progress-bar .progress {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #F17FE5 0%, #8D7AE8 100%);
  border-radius: 0.3rem;
}
.page .rectange .right-detail .progress-box .right-progress {
  position: absolute;
  right: 0.8rem;
  font-size: 0.64rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A8A8A8;
  letter-spacing: 1px;
}
.page .rectange .right-detail .purchase {
  font-size: 0.58666rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #9D9999;
}
.page .rectange .right-detail .surplus {
  font-size: 0.58666rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #9D9999;
  line-height: 1rem;
}
.page .rectange .right-detail .surplus .number {
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #9D9999;
}
.page .rectange .right-detail .count {
  display: flex;
  justify-content: space-between;
}
.page .rectange .right-detail .count #count {
  font-size: 0.58666rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #9D9999;
  letter-spacing: 1px;
}
.page .rectange .right-detail .total {
  margin-right: 1.4rem;
  font-size: 0.5866rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A8A8A8;
  letter-spacing: 1px;
}
.page .rectange .right-detail .total #diamond {
  color: #8D7AE8;
}
